html
            {
                background: #f9f4ca;
                height:100%
            }
 h2{
    margin:0; padding:0;
    font-size: 35px;
    font-family: "Times New Roman";
    font-weight: bold;
    color: rgb(5, 151, 22);
    margin-bottom: 8%;
   }

body {
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 110%;
    text-align:center;
    margin-top:0;
    }
    .hh{
        padding-left: 150px;
        padding-right: 150px;
    }
   .v{
    font-size: 20px;
   }
 .heading{
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    padding-top: 5px;
    padding-right: 90px;
    padding-bottom: 5px;
    padding-left: 90px;
    margin-top: 0.50%;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.4);
    }    
a
    {
    margin:0; padding:0;
    font-size:300%;
    color: Maroon;
    }
h3
    {
    margin:0; padding:0;
    }
.login 
    {
    margin-top: 5%;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 300px;
    position: relative;
    padding: 30px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    }
.log
    {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: auto;
    min-height: 100%;
    padding: 20px;
    margin: auto;
    }
input
    {
    margin:10px;
    }
select
    {
    margin:10px 0px 10px 0px;
    }
input[type=submit]
    {
    background-color: rgb(86, 177, 83);
    border-radius:15px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
    }
input[type=submit]:hover
    {
    opacity: 0.9;
    }
    input[type=submit]:active
    {
    opacity: 0.8;
    }    
