html
{
    background:linear-gradient(rgb(26, 212, 29),rgb(133, 235, 155));
    height: 100%;
}
table
{
    height: 90%;

}
UserTitle
{
    margin: 50;
}
select
{
    width:  150%;
    height: 42px;
}
button
{
    width:100%;
    align-content: center;
}